h1, h2, h3, h4, h5 {
    font-family: 'Courgette', cursive;
}

p {
    font-size: 19px;
}

a {
    color: $black;
    text-decoration: none;

    &:hover {
        color: $choco;
        font-weight: 600;
    }
}

.post {
    padding-bottom: 20px;
}
