.whole-height {
    padding-top: 110px;
    height: 90vh;
}

.padding-general {
    padding: 100px 0;
}

pre {
    color: $choco;
    font-family: 'Courgette', cursive;
    font-size: 18px;
}

.button-light {
    background-color: $vanilla;
    color: $choco;

    &:hover {
        background-color: $white;
        font-weight: 400;
    }
}

.button-dark {
    background-color: $black;
    color: $vanilla;

    &:hover {
        background-color: $choco;
        font-weight: 400;
    }
}
